LITRADOCK_POSTGRES=Host=127.0.0.1;Database=REQUIRED_DEDICATED_DATABASE;Username=REQUIRED_SERVICE_ROLE;Password=REQUIRED_SECRET;SSL Mode=Disable
LITRADOCK_OBJECTS=/srv/literature-demo/objects
LITRADOCK_ORIGIN=https://REQUIRED_PROJECT_HOSTNAME
LITRADOCK_PORT=5080
LITRADOCK_PROXY_IP=127.0.0.1
LITRADOCK_LOCAL_TEST=false
LITRADOCK_DEMO=true
LITRADOCK_DEMO_OPERATOR=REQUIRED_ACTUAL_OPERATOR
LITRADOCK_DEMO_CONTACT=REQUIRED_ACTUAL_SUPPORT_CONTACT
LITRADOCK_DEMO_RETENTION=REQUIRED_ACTUAL_CLEANUP_DATE_AND_PROCEDURE
LITRADOCK_DEMO_EXPIRES=REQUIRED_ISO8601_TIMESTAMP_WITH_TIMEZONE
LITRADOCK_SOURCE_REVISION=REQUIRED_EXACT_40_CHARACTER_PUBLIC_COMMIT
